DataTable {
    dock: left;
    width: 50%; 
    height: 80%;
    margin: 5;
}

Placeholder {
    dock: right;
    width: 50%; 
    height: 80%;
    margin: 5;
}

PlotextPlot {
    dock: right;
    width: 50%;  
    height: 80%;
    margin: 5;
}
